.calculator__button {
    height: 2rem;
    min-width: 2rem;
    background-color: gainsboro;
    border: 2px solid black;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
    }
    
    &:focus {
        color: lightgray;
        background-color: gray;
    }
}